body{
  height: 100%;

  /* 300 = light, 400 = regular, 600 = semi-bold */
  font-family: "proxima-nova",sans-serif;
  font-weight: 300;
  padding: 0;
  margin: 0;

  background-color: #f0f0f0; 
  color: #777;
  font-size: 14px;
}

code{
 white-space: pre-wrap;       /* css-3 */
 white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
 white-space: -pre-wrap;      /* Opera 4-6 */
 white-space: -o-pre-wrap;    /* Opera 7 */
 word-wrap: break-word;
}

strong{
  font-weight: 600;
}

a:link {
  font-weight: 500;
  color: #f0b272;
  text-decoration: none;
}
a:visited {
  text-decoration: none;
  font-weight: 500;
  color: #f0b272;
}
a:hover {
  text-decoration: underline;
  font-weight: 500;
  color: #f0b272;
}
a:active {
  text-decoration: none;
  font-weight: 500;
  color: #f0b272;
}
